In [5]:
# Data frames.
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

# Load the data set.
file_path = r"C:\Users\User\Desktop\ATU\PFDA\Project\mly5427.csv"
df = pd.read_csv(file_path, on_bad_lines='skip')

df

                Station Name: OUGHTERARD GOLF CLUB
0                            Station Height: 17 M
1                                   year:  -  Year
2                                  month: -  Month
3              rain:  -  Precipitation Amount (mm)
4               gdf:   -  Greatest daily fall (mm)
5    rd:    -  Number of rain days (0.2mm or more)
6  wd:    -  Number of wet days (1.0 mm or more)\t
7                              ind:   -  Indicator

In [7]:
df = pd.read_csv(file_path, skiprows=13)

df

     year  month  ind   rain   gdf  rd  wd
0    2009      9    0   61.7  25.5  11  10
1    2009     10    0  129.4        18  15
2    2009     11    1  365.7  48.2  28  27
3    2009     12    0  119.1  19.2  17  15
4    2010      1    0   67.0  11.0  13  12
..    ...    ...  ...    ...   ...  ..  ..
173  2024      3    0  170.8  29.4  22  20
174  2024      4    0  151.7  24.8  19  18
175  2024      5    0   65.8  11.0  11  10
176  2024      6    0   55.3  14.6  13  12
177  2024      7    0   47.9   9.1  13  11

[178 rows x 7 columns]